<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.scott.freeme.baiduai">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
            android:name="com.freeme.camera.mode.ai.IKOActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
    </application>
</manifest>
